.producto {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.precio {
  font-size: var(--font-size-large);
  width: fit-content;
}
.greenClass {
  color: green;
  transition-duration: 1000ms;

}
.whiteClass {
 color: white;
 transform: scale(1.3);
 transition-duration: 1000ms;
}
