<div class="main">
<h1>Sobre nosotros</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, repellat tempora deserunt unde fuga quod eum illum ipsa et obcaecati, consequuntur, placeat qui similique aspernatur deleniti corrupti quibusdam doloribus debitis.</p>
<h1>El equipo</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci alias ea dolores facilis tempore atque, quae labore nobis quisquam minus officiis tempora voluptatibus dolorum perspiciatis, laborum obcaecati quo, possimus eius?</p>
</div>
